In [6]:
#Task: Usa una lambda con filter() per ottenere solo i numeri pari da una lista.
lista = [2,5,6,32,42,5]
pari = list(filter(lambda x: x % 2 == 0, lista))
pari

[2, 6, 32, 42]

In [8]:
#Task: Usa una lambda con map() per moltiplicare ogni numero di una lista per 10.
lista = [1,4,6]
multi = list(map(lambda x: x * 10, lista))
multi

[10, 40, 60]

In [10]:
#Task: Ordina [(1, 3), (2, 1), (4, 2)] in base al secondo elemento.

tuples = [(1, 3), (2, 1), (4, 2)]
ordered_list = sorted(tuples, key=lambda x: x[1])
ordered_list

[(2, 1), (4, 2), (1, 3)]

In [15]:
#Task: Usa filter() + lambda per eliminare le stringhe vuote.

lista = ['prova', '', 'hola', '']
no_empty = list(filter(lambda x: len(x) > 0, lista))
no_empty

['prova', 'hola']

In [29]:
# Filtra il dizionario in base ad una condizione
dict = {'Luca': 30, 'Gio': 31, 'Marco': 32}
filtered_dict = {y: x for y, x in dict.items() if x > 30}
filtered_dict

{'Gio': 31, 'Marco': 32}

In [37]:
#Task: Ordina un dizionario {a: 3, b: 1, c: 2} in base al valore, crescente.

d = {'a': 3, 'b': 1, 'c': 2}
ord_d = sorted(d.items(), key= lambda x: x[1])
ord_d

[('b', 1), ('c', 2), ('a', 3)]

In [43]:
#Task: Moltiplica per 10 tutti i valori del dizionario {a: 1, b: 2, c: 3}.
d = {'a': 3, 'b': 1, 'c': 2}
mult_d = {k: v * 10 for k,v in d.items()}
mult_d

{'a': 30, 'b': 10, 'c': 20}

In [53]:
# Apply su una colonna di un DF
import pandas as pd
df = pd.DataFrame({'valori':[10,20,30], 'Nomi':['Luca', 'Paola', 'Francesco']})
applied_df = df['valori'].apply(lambda x: x * 5)
applied_df

0     50
1    100
2    150
Name: valori, dtype: int64

In [55]:
# Apply su tutte le righe
df = pd.DataFrame({'valori':[10,20,30], 'Nomi':['Luca', 'Paola', 'Francesco'], 'Cognome':['A','B','C']})
df['nome_completo'] = df.apply(lambda row: f"{row['Nomi']} {row['Cognome']}", axis=1)
df

   valori       Nomi Cognome nome_completo
0      10       Luca       A        Luca A
1      20      Paola       B       Paola B
2      30  Francesco       C   Francesco C

In [57]:
#Task: Crea una colonna età_categoria che assegni 'adulto' se età >= 18, altrimenti 'minorenne'.
df = pd.DataFrame({'Nomi':['Luca', 'Paola', 'Francesco'], 'eta':[10,20,30]})
df['eta_categoria'] = df['eta'].apply(lambda x: 'Minorenne' if x < 18 else 'Maggiorenne')
df

        Nomi  eta eta_categoria
0       Luca   10     Minorenne
1      Paola   20   Maggiorenne
2  Francesco   30   Maggiorenne

In [63]:

df = df.sort_values(by = 'Nomi', key= lambda x: x.str.len())
df

        Nomi  eta
0       Luca   10
1      Paola   20
2  Francesco   30

In [64]:
#Crea una colonna doppi che contenga il doppio dei valori presenti in una colonna chiamata valori.

df = pd.DataFrame({'Nome': ['Luca','Marco'], 'Numero': [24,56]})
df['Doppi'] = df['Numero'].apply(lambda x: x *2)
df

    Nome  Numero  Doppi
0   Luca      24     48
1  Marco      56    112

In [81]:
#Crea una colonna full_name unendo le colonne nome e cognome, separati da uno spazio.

df = pd.DataFrame({'Nome': ['Luca','Marco'], 'Numero': [24,56], 'Cognome': ['Double', 'Lauriellame']})
df['full_name'] = df.apply(lambda row: f"{row['Nome']} {row['Cognome']}", axis=1)
df

    Nome  Numero      Cognome          full_name
0   Luca      24       Double        Luca Double
1  Marco      56  Lauriellame  Marco Lauriellame

In [69]:
#Crea una colonna età_categoria che assegni "adulto" se età >= 18, altrimenti "minorenne
df = pd.DataFrame({'Nome': ['Luca','Marco'], 'Numero': [24,56], 'Cognome': ['Double', 'Lauriellame']})
df['categoria'] = df['Numero'].apply(lambda x: 'adulto' if x > 24 else 'mino')
df

    Nome  Numero      Cognome categoria
0   Luca      24       Double      mino
1  Marco      56  Lauriellame    adulto

In [70]:
#Task: Ordina un DataFrame in base alla lunghezza dei nomi.
df = pd.DataFrame({'Nomi':['Luca', 'Paola', 'Francesco'], 'eta':[10,20,30]})
df = df.sort_values(by = 'Nomi', key=lambda x: x.str.len())
df

        Nomi  eta
0       Luca   10
1      Paola   20
2  Francesco   30

In [71]:
#Crea una colonna parola_maiuscola che contenga la versione maiuscola di una colonna parola.
df = pd.DataFrame({'Nomi':['Luca', 'Paola', 'Francesco'], 'eta':[10,20,30]})
df['Parola'] = df['Nomi'].apply(lambda x: x.upper())
df

        Nomi  eta     Parola
0       Luca   10       LUCA
1      Paola   20      PAOLA
2  Francesco   30  FRANCESCO

In [73]:
#Dato un DataFrame con una colonna prezzo, crea una colonna iva che sia pari al 22% del prezzo.
df = pd.DataFrame({'Nomi':['Luca', 'Paola', 'Francesco'], 'prezzo':[10,20,30]})
df['Iva'] = df['prezzo'].apply(lambda x: (x * 22)/100)
df

        Nomi  prezzo  Iva
0       Luca      10  2.2
1      Paola      20  4.4
2  Francesco      30  6.6

In [78]:
#Applica una lambda riga per riga per restituire una stringa "OK" se valore > soglia, altrimenti "NO" (usa axis=1).

df = pd.DataFrame({
    'valore': [10, 25, 18],
    'soglia': [15, 20, 18]
})

df['prova'] = df.apply(lambda row: 'OK' if row['valore'] > row['soglia'] else 'NO', axis=1)
df

   valore  soglia prova
0      10      15    NO
1      25      20    OK
2      18      18    NO