In [1]:
def compare_structures():
    list = [1,2,3]
    tuple = (4,5,6)

    list.append(16)
    print('Lista:', list)

    try:
        tuple.append(18)
        print('Tupla:', tuple)
    except AttributeError as e:
        print('Errore su tupla:', e)

compare_structures()

La mia lista è: [1, 2, 3, 16]
Lerrore e: 'tuple' object has no attribute 'append'

In [2]:
def create_sequence(n):

    sequence = list(range(1, n+1))
    return sequence, tuple(sequence)

create_sequence(9)

([1, 2, 3, 4, 5, 6, 7, 8, 9], (1, 2, 3, 4, 5, 6, 7, 8, 9))

In [4]:
def list_to_tuple():

    my_list = ['Milano', 20133, 'MI']
    tupla = tuple(my_list)
    return tupla 

list_to_tuple()

('Milano', 20133, 'MI')

In [5]:
def is_in_tuple(tupla, element):

    if element in tupla:
        print(element)
    else:
        print('Non c è')

tpl = (34, 'a', 145)
is_in_tuple(tpl,10)

Non c è

In [7]:
def create(n):

    a = (1,2,4)
    l = list(range(1, n+1))
    return a, l

create(18)

((1, 2, 4), [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18])

In [12]:
def compare(lst, tpl):

    print(len(lst))
    print(len(tpl))
    if len(lst) > len(tpl):
        print(lst)
    elif len(lst) < len(tpl):
        print(tpl)
    else:
        print('stessa lunghezza')

list = [1, 3, 4, 5]
tupl = (1,2)

compare(list, tupl)

4
2
[1, 3, 4, 5]

In [15]:
#Task: Crea una lista con i quadrati dei numeri da 1 a 10.

a = [x ** 2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
#Task: Estrai solo i numeri pari da una lista.
a = [x for x in range(1,10) if x % 2 == 0]

[2, 4, 6, 8]

In [17]:
#Task: Dato un elenco di parole, restituiscile tutte in maiuscolo

parole = ['B', 'C']
a = [x.lower() for x in parole]

['b', 'c']

In [19]:
#Task: Crea una lista di tuple (n, n^2) per n da 1 a 5

a = [(x, x**2) for x in range(1,6)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [27]:
#Task: Trova tutti i numeri da 1 a 100 divisibili sia per 3 che per 5.

a = [x for x in range(1,101) if x % 3 == 0 and x % 5 == 0]

[15, 30, 45, 60, 75, 90]

In [29]:
#Task: Data una lista di parole, restituisci una lista delle loro lunghezze.

lista = ['a', 'pippi', 'ancora']
a = [len(x) for x in lista]

[1, 5, 6]

In [31]:
#Task: Dato un elenco con numeri e stringhe, estrai solo i numeri.

lista = ['a', 'prova', 3, 4]
a = [x for x in lista if isinstance(x, int)]

[3, 4]